.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/*.tsx
!out/**/*.js
webpack.config.js
tailwind.config.js
postcss.config.js
node_modules/**
*.vsix

